.disflex{
    display: flex;
    justify-content: center;
}
.placeHeading{
    border-left-color: #8892b0;
    border-left: 2px solid #8892b0;   
    width: 15%;
}
.placeDetails{
    width: 50%;
}
.active78u{
    color: #64ffda !important;
    background: #2d2f33 !important;
    border-left: 4px solid #64ffda !important;
    margin-left: -2px;
}
.xp67oop{
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    /* border-left: 2px solid #8892b0; */
    background-color: transparent;
    color: #8892b0;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}
.xp67oop:hover{
    color: #64ffda !important;
    background: #2d2f33 !important;
}
.rrtffg{
    color: #8892b0;
}
.showNone{
    display: none;
}
.greencolor85{
    color: #64ffda;
}